/* 
    Rounded Images in CSS
    BRBA project 
*/

/* Primarily for larger rectangles such as the front page image */
.rect-large {
    border-radius: 25px;
    padding: 20px;
    width: 350px;
    height: 225px;
  }

/* Every rectangle aside from the map and the front page image */
.rect-med { 
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 140px;
}

.map { 
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 200px;
  }

/* Standard for logos */
.smallCirc {
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    height: 150px;
}

/* Zoomed-in logos */
.largeCirc { 
    border-radius: 50%;
    padding: 20px;
    width: 260px;
    height: 260px;
}
