/* 
    Rounded Images in CSS
    Used for the BRBA project 
*/

/* Used primarily for larger rectangles such as the map and the front page image */
.rect-large {
    border-radius: 75px;
    padding: 20px;
    width: 1000px;
    height: 580px;
  }

/* Used everywhere else besides the map and the front page image */
.mediumRect { 
    border-radius: 75px;
    padding: 20px;
    width: 560px;
    height: 400px;
}

/* Standard for any logos */
.smallCirc {
    border-radius: 50%;
    padding: 20px;
    width: 300px;
    height: 300px;
}

/* Used for any zoomed-in logos */
.largeCirc { 
    border-radius: 50%;
    padding: 20px;
    width: 700px;
    height: 700px;
}
