body, html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.dialog
{
	background-color: rgba(183,211,242,0.7);
	height: 30%;
	width: 50%;
	border-radius: 25px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
}
.dialog_content {
    color: black;
  	position: absolute;
  	left: 50%;
  	top: 45%;
  	-webkit-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);
  	width: 90%;
  	text-align: center;
  	font-size: 18px;

}
.dialog_container {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	z-index: 9;
}
.dialog_close {
	position: absolute;
	top: 0;
	right: 3%;
	color: #006B34;
}
.dialog_close:hover {
	color: #0D1F22;
	cursor: pointer;
	transition: 0.3s;
}
