
div.round1 {
  border: 2px solid #99d9c5;
  border-radius: 25px;
}
div.round1 {
  background-color: #99d9c5;
}
div.round1 {
  max-width:335px;
  margin: 10px;
  border: 55px solid #99d9c5;
}

div.round2 {
  border: 2px solid #99d9c5;
  border-radius: 25px;
}
div.round2 {
  background-color: #99d9c5;
}
div.round2 {
  max-width:350px;
  margin: 10px;
  border: 150px solid #99d9c5;
}

div.round3 {
  border: 2px solid #99d9c5;
  border-radius: 25px;
}
div.round3 {
  background-color: #99d9c5;
}
div.round3 {
  max-width:500px;
  margin: 10px;
  border: 50px solid #99d9c5;
}

div.round4 {
  border: 2px solid #99d9c5;
  border-radius: 25px;
}
div.round4 {
  background-color: #99d9c5;
}
div.round4 {
  max-width:345px;
  margin: 10px;
  border: 27px solid #99d9c5;
}

  div.round5 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
  }
  
  div.round5 {
    background-color: #99d9c5;
  }
  div.round5 {
    max-width:665px;
    margin: 10px;
    border: 65px solid #99d9c5;
  }