

img {
    width: 100px;
    border-radius: 25px;
}

.event-card {
    width: 70%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 0;
}

.event-card > div  {
    background-color: #99D5C9;
    padding: 25px;
}

.event-content-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.event-content-left > img {
    margin-top: 25px;
}

.event-content-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.upcoming-events-card {
    width: 25%;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 0;
}

.upcoming-events-card > div  {
    background-color: #99D5C9;
    padding: 25px;
}

.upcoming-content-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upcoming-content-right {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.business-card {
    width: 70%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 0;
}

.business-card > div  {
    background-color: #99D5C9;
    padding: 25px;
}


.business-content-left {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.business-content-centre {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.line-break {
    border: 0;
    border-bottom: 15px;
    margin-bottom: 15px;
    height: 0;
    border-top: 3px solid black;
}

.business-tag {
    background-color: #006B34;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 25px;
}

.business-content-left > img {
    margin-top: 25px;
}