.tag{
    color:#5FB3FC;
    padding: 10px;
    margin: 10px;
    background-color:#F1F9FF;
    border-style: solid;
    border-color:#D1EBFB;
    border-radius: 10px;
    font-size: 15px;
    font-family: "PT Sans";
}
.tag:hover {
      cursor: pointer;
      color: #0D1F22;
      
}

.tagTwo{
    color:#99D5C9;
    padding: 20px;
    margin: 30px;
    background-color: #69B578; 
    border-style: solid;
    border-color:#006B34;
    border-radius: 20px;
    font-size: 30px;
    font-family: "PT Sans";
}

.tagTwo:hover{
    cursor: pointer;
}

.tagThree{
    color: #69B578;
    padding: 5px;
    margin: 5px;
    background-color: #B7D3F2;
    border-style: solid;
    border-color: #0D1F22;
    border-radius: 5px;
    font-size: 10px;
    font-family: "PT Sans";
}

.tagThree:hover{
    cursor: pointer;
}


div.round1 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round1 {
    background-color: #99d9c5;
}
div.round1 {
    max-width:335px;
    margin: 10px;
    border: 55px solid #99d9c5;
}

div.round2 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round2 {
    background-color: #99d9c5;
}
div.round2 {
    max-width:350px;
    margin: 10px;
    border: 150px solid #99d9c5;
}

div.round3 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round3 {
    background-color: #99d9c5;
}
div.round3 {
    max-width:500px;
    margin: 10px;
    border: 50px solid #99d9c5;
}

div.round4 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}
div.round4 {
    background-color: #99d9c5;
}
div.round4 {
    max-width:345px;
    margin: 10px;
    border: 27px solid #99d9c5;
}

div.round5 {
    border: 2px solid #99d9c5;
    border-radius: 25px;
}

div.round5 {
    background-color: #99d9c5;
}
div.round5 {
    max-width:665px;
    margin: 10px;
    border: 65px solid #99d9c5;
}

/*
  Button CSS Styles w/ defined usage
  BRBA Project
*/

/*
  Small Green Button Style
  Text is size of p element default
  Use for:
    - Add an Event
    - RSVP
    - Upload Logo
    - Upload Flyer
    - Search
    - Apply
*/
.button-small-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 16px;
    cursor: pointer;
}

.button-small-green:hover {
    background-color: #69B578;
}

.button-small-green:active {
    background-color: #99D5C9;
}

.button-small-green:focus {
    outline: #0D1F22;
}

/*
  Medium Green Button Style
  Text is size of h3 element default
  Use for:
    - Return to Event Page
*/
.button-med-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    cursor: pointer;

}

.button-med-green:hover {
    background-color: #69B578;
}

.button-med-green:active {
    background-color: #99D5C9;
}

.button-med-green:focus {
    outline: #0D1F22;
}

/*
  Large Green Button Style
  Text is same size as h2 element default
  Use for:
    - Add an Event
    - RSVP
*/

.button-large-green {
    background-color: #006B34;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: white;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 24px;
    cursor: pointer;
}

.button-large-green:hover {
    background-color: #69B578;
}

.button-large-green:active {
    background-color: #99D5C9;
}

.button-large-green:focus {
    outline: #0D1F22;
}

/*
  Small Clear Button Style
  Use for:
    - TBD
*/
.button-small-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;

}

.button-small-clear:hover {
    background-color: #99D5C950;
}

.button-small-clear:active {
    background-color: #99D5C9;
}

.button-small-clear:focus {
    outline: #0D1F22;
}

/*
  Medium Clear Button Style
  Use for:
    - Add an event on bulletin board
*/

.button-med-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 18.72px;
    font-weight: bold;
    cursor: pointer;
}

.button-med-clear:hover {
    background-color: #99D5C950;
}

.button-med-clear:active {
    background-color: #99D5C9;
}

.button-med-clear:focus {
    outline: #0D1F22;
}

/*
  Large Clear Button Style
  Use for:
    - TBD
*/

.button-large-clear {
    background-color: #ffffff00;
    border-radius: 25px;
    font-family: "Open Sans", sans-serif;
    color: #0D1F22;
    padding: 12px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    transition: background-color 0.2s;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.button-large-clear:hover {
    background-color: #99D5C950;
}

.button-large-clear:active {
    background-color: #99D5C9;
}

.button-large-clear:focus {
    outline: #0D1F22;
}

/* Event cards */
.event-card {
    margin: 1em;
}

.event-card > img {
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.event-content-left {
    height: 8em;
    background: #99D5C9;
    width: 7.5em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.event-content-centre {
    background: #99D5C9;
    width: 12em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 8em;
}

.event-content-right {
    background: #99D5C9;
    width: 20em;
    padding: 12.5px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 8em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

/* Upcoming event cards */
.upcoming-events-card {
    margin: 1em;
}

.upcoming-events-card > img {
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.upcoming-content-left {
    height: 3em;
    background: #99D5C9;
    width: 4em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.upcoming-content-right {
    background: #99D5C9;
    width: 12em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 3em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.top {
    margin-top: 1px;
    margin-left: 80px;
    padding-top: 4px;
}




.business-card {
    margin: 1em;
}

.business-card > img {
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.business-content-left {
    height: 9em;
    background: #99D5C9;
    width: 7.5em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.business-content-centre {
    background: #99D5C9;
    width: 37em;
    padding: 25px;
    padding-top: 0px;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    margin-left: -4px;
    height: 9em;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.line-break {
    border: 0;
    border-bottom: 15px;
    margin-bottom: 15px;
    height: 0;
    border-top: 3px solid black;
}

.business-tag {
    background-color: #006B34;
    color: white;
    padding: 5px;
    margin: 5px;
    margin-top: 10px;
    border-radius: 25px;
}

.dialog
{
    background-color: rgba(183,211,242,0.7);
    height: 30%;
    width: 50%;
    border-radius: 25px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}
.dialog_content {
    color: black;
    position: absolute;
    left: 50%;
    top: 45%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    font-size: 18px;

}
.dialog_container {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9;
}
.dialog_close {
    position: absolute;
    top: 0;
    right: 3%;
    color: #006B34;
}
.dialog_close:hover {
    color: #0D1F22;
    cursor: pointer;
    transition: 0.3s;
}
form {
    position: relative;
    display: inline-block;
    max-width: 700px;
    min-width: 700px;
    box-sizing: border-box;
    padding: 30px 25px;
    background-color: white;
    border-radius: 40px;
    margin: 40px 0;
    left: 50%;
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
form h1 {
    color: #006B34;
    font-weight: 100;
    letter-spacing: 0.01em;
    margin-left: 15px;
    margin-bottom: 35px;
    text-transform: uppercase;
}

form .question {
    position: relative;
    padding: 10px 0;
}
form .question:first-of-type {
    padding-top: 0;
}
form .question:last-of-type {
    padding-bottom: 0;
}
form .question label {
    transform-origin: left center;
    color: #69B578;
    font-weight: 100;
    letter-spacing: 0.01em;
    font-size: 17px;
    box-sizing: border-box;
    padding: 10px 15px;
    display: block;
    position: absolute;
    margin-top: -40px;
    z-index: 2;
    pointer-events: none;
}
form .question input[type="text"] {
    appearance: none;
    background-color: none;
    border: 1px solid #B7D3F2;
    line-height: 0;
    font-size: 17px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    border-radius: 60px;
    color: #B7D3F2;
    font-weight: 100;
    letter-spacing: 0.01em;
    position: relative;
    z-index: 1;
}
form .question input[type="text"]:focus {
    outline: none;
    background: #B7D3F2;
    color: white;
    margin-top: 30px;
}
form .question input[type="text"]:valid {
    margin-top: 30px;
}
form .question input[type="text"]:focus ~ label {
    -moz-transform: translate(0, -35px);
    -ms-transform: translate(0, -35px);
    -webkit-transform: translate(0, -35px);
    transform: translate(0, -35px);
}
form .question input[type="text"]:valid ~ label {
    text-transform: uppercase;
    font-style: italic;
    -moz-transform: translate(5px, -35px) scale(0.6);
    -ms-transform: translate(5px, -35px) scale(0.6);
    -webkit-transform: translate(5px, -35px) scale(0.6);
    transform: translate(5px, -35px) scale(0.6);
}

/* 
    Rounded Images in CSS
    BRBA project 
*/

/* Primarily for larger rectangles such as the front page image */
.rect-large {
    border-radius: 25px;
    padding: 20px;
    width: 350px;
    height: 225px;
  }

/* Every rectangle aside from the map and the front page image */
.rect-med { 
    border-radius: 25px;
    padding: 20px;
    width: 200px;
    height: 140px;
}

.map { 
    border-radius: 25px;
    padding: 20px;
    width: 500px;
    height: 200px;
  }

/* Standard for logos */
.smallCirc {
    border-radius: 50%;
    padding: 20px;
    width: 150px;
    height: 150px;
}

/* Zoomed-in logos */
.largeCirc { 
    border-radius: 50%;
    padding: 20px;
    width: 260px;
    height: 260px;
}

#TabBar {
    background-color: #78CB95;
    font-size: 1.2em;
    position: fixed;
    right: 0;
  top: 0;
    width: 100vw;
    height: 80px;
    text-align: right;
    color: white;
  z-index: 999;
}
#TabBar li > a {
    color: white;
    text-decoration: none;
}
#TabBar li {
    display: inline;
    padding: 1em;
    position: relative;
    top: .5em;
    right: 1.5em;
}

#TabBar a:hover{
  color: #006B34;
  cursor: pointer;
  transition: 0.5s;
}

#logo {
    height: 3em;
    width: 5em;
  position: fixed;
    left: 1em;
  top: .3em;
}

#login {
    height: 1.19em;
    width: 1.1em;
  position: fixed;
    right: 1.3em;
  top: 1.45em;
}

.tag{
    color:#5FB3FC;
    padding: 10px;
    margin: 10px;
    background-color:#F1F9FF;
    border-style: solid;
    border-color:#D1EBFB;
    border-radius: 10px;
    font-size: 15px;
    font-family: "PT Sans";
}
.tag:hover {
      cursor: pointer;
      color: #0D1F22;
      
}

.tagTwo{
    color:#99D5C9;
    padding: 20px;
    margin: 30px;
    background-color: #69B578; 
    border-style: solid;
    border-color:#006B34;
    border-radius: 20px;
    font-size: 30px;
    font-family: "PT Sans";
}

.tagTwo:hover{
    cursor: pointer;
}

.tagThree{
    color: #69B578;
    padding: 5px;
    margin: 5px;
    background-color: #B7D3F2;
    border-style: solid;
    border-color: #0D1F22;
    border-radius: 5px;
    font-size: 10px;
    font-family: "PT Sans";
}

.tagThree:hover{
    cursor: pointer;
}
