 #title {
    padding-left: 10px;
  }
  
  body {
	font-family: "PT Sans", sans-serif;
}

#TabBar {
	background-color: #78CB95;
	font-size: 1.2em;
	position: fixed;
	right: 0;
  top: 0;
	width: 100vw;
	height: 80px;
	text-align: right;
	color: white;
  z-index: 999;
}

#TabBar a {
  color: white;
  text-decoration: none;
}

li {
	display: inline;
	padding: 1em;
  position: relative;
  top: .5em;
  right: 1.5em;
}

li:hover {
  color: #006B34;
  cursor: pointer;
}

#logo {
	height: 3em;
	width: 5em;
  position: fixed;
	left: 1em;
  top: .3em;
}

#login {
	height: 1.19em;
	width: 1.1em;
  position: fixed;
	right: 1.3em;
  top: 1.45em;
}

.event-card {
  width: 95%;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 0;
  height: 60%;
}

.event-card > div  {
  background-color: #99D5C9;
  padding: 25px;
}

.event-content-left {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.event-content-left > img {
  margin-top: 15px;
}

.event-content-right {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  
}

.logo {
    padding-left: 0px;
    padding-right: 10px;
    padding-top: 10px;
    border-radius: 50%;
    width: 125px;
    height: 125px;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  grid-template-columns: auto auto auto auto auto;
  grid-row-gap: 20px;
  height: 800px;
  padding-left: 50px;
  padding-top: 50px;
}

.header {
  display: grid;
  grid-row-start: 2;
  grid-column-start: 2;
}

.events-card-1 {
  display: grid;
  grid-row-start: 3;
  grid-column: 2;
}

.events-card-2 {
  display: grid;
  grid-row-start: 4;
  grid-column: 2;
}

.events-card-3 {
  display: grid;
  grid-row-start: 5;
  grid-column: 2;
}

#add-event {
  display: grid;
  grid-column-start: 5;
  justify-self: last baseline;
  height: 50px;
  width: 150px;
  margin-top: 14px;
  padding-top: 13px;
  font-size: 15px;
}

.form-button {
  padding-bottom: 10px;
  text-align: center;
}

  /* The container */
  .container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 7px;
    margin-right: 10px;
    margin-left: 14px;
    margin-bottom: 30px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0px;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
       top: 5px;
    left: 5px;
    align-self: center;
      width: 8px;
      height: 8px;
      border-radius: 50%;
      background: white;
  }

  label.container{
  color: #69B578;
  font-size: 17px;
  font-family: "PT Sans";
  }

#return-to-events {
  height: 45px;
}

#submit {
  width: 100px;
  height: 60px;
}
/* Stylesheet for the specifc events page */

#specifc-event-name{
  font-family: "PT Sans";
  font-size: 50pt;
  color:black ;
  text-align: center;
  }
  
  #event-info{
    font-family: "PT Sans";
  font-size: 25pt;
  color: #57585b
  }


  h1{
    font-family: "PT Sans";
    font-size: 40pt;
    color: #333333;
    }
    
    h2{
      font-family: "PT Sans";
    font-size: 25pt;
    color:#57585b;
    text-align: center; 
    }

    

  h3{
    font-family: "PT Sans";
  font-size: 20pt;
  color:#57585b;
  }  
	
p {
  
    color:#57585b;
    font-family: "PT Sans"; 
    font-size: 15pt; 
    
    }
  
  .content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 120px (2fr, auto) (2fr, auto) 2fr;
    grid-gap: 30px;
    margin-right: 20px, 
  
  }
  
  .Event-name{
   
    grid-column: 2 / 3;
    grid-row: 2/3;
    text-align: center;
    padding: 10px;
    align-items: center, baseline;
    padding-top: 50px;
    
  }
  
  
  .Event{
    grid-column: 1 / 3;
    grid-row: 3/4;
    padding: 10px;
    background-color: #99D5C9;
    margin-left: 30px;
    border-radius: 25px;
  }
  .contact{
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-color: #99D5C9;
    border-radius: 25px;
    margin-right: 30px;
    padding-top: 5px;
    
    inset-inline-start: 40px;
    
    align-items: center, baseline;
  }

  .contact > p {

padding-left: 30px;

  }

  
  #contact-info{
    text-align: center; 
    
    
  }

  
  #RSVP{
    grid-column-start: 2;
    justify-self: center;
    margin-left: 100px;
    margin-bottom: 20px;
    

    
  }

  .four{
    grid-column: 1 / 4;
    grid-row: 4/ 5;
    text-align: center;
  }
  
  
  #event-information{
  
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    padding-right: 20px;
    
  }
  
  .image{
  
    grid-template-columns: 1/2;
    grid-template-rows: 1/2;
    height: 3em;
    width: 5em;
    padding-left: 20px;
    justify-items: center;
    
  }
  
  .info-text{
  
    grid-template-columns: 2/3;
    grid-template-rows: 1/2;
    font-family: "PT Sans";
    font-size: 20pt;
  
  }

  /* google map (specific events) Set size of the div element that contains the map */ 
  
  #map {
  height: 200px;  /* The height is 400 pixels */
  width: 100%px;  /* The width is the width of the web page   */
  padding: 20px;
  border-radius: 25px;
  margin-left: 30px;
  margin-right: 30px;
  } 
