#title {
  padding-left: 10px;
  margin-top: 1em;
}


/* The Event Card is changed to use the grid instead of flex/padding. Remove this after it is changed on the main stylesheet */
.event-card-changed {
width: 95%;
display: grid;
grid-template-columns: repeat(autofill, auto);
grid-template-rows: repeat(auto-fill, minmax(250px, 1fr));
grid-gap: 0;
}

.event-card-changed > div  {
background-color: #99D5C9;
padding: 25px;
}

.events-content-left {
border-top-left-radius: 25px;
border-bottom-left-radius: 25px;
}

.events-content-left > img {
margin-top: 15px;
}

.events-content-right {
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
}

.logo {
  padding-left: 0px;
  padding-right: 10px;
  padding-top: 10px;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}

.grid-container {
display: grid;
grid-template-rows: auto auto auto auto auto;
grid-template-columns: auto auto auto auto auto;
} 

.header {
display: grid;
grid-row-start: 2;
grid-column-start: 2;
}

.events-card-1 {
display: grid;
grid-row-start: 3;
grid-column: 2;
}

.events-card-2 {
display: grid;
grid-row-start: 4;
grid-column: 2;
}

.events-card-3 {
display: grid;
grid-row-start: 5;
grid-column: 2;
}

#add-event {
display: grid;
grid-column-start: 2;
margin-top: 3em;
margin-right: 5em;
font-size: 17px;
height: auto;
width: auto;
}

.form-button {
padding-bottom: 10px;
text-align: center;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 7px;
  margin-right: 10px;
  margin-left: 14px;
  margin-bottom: 30px;
  cursor: pointer;
  font-size: 17px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #69B578;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
     top: 5px;
  left: 5px;
  align-self: center;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

label.container{
color: #69B578;
font-size: 17px;
font-family: "PT Sans";
}

#return-to-events {
height: 45px;
}

#Return-to-Events-Page {
height: 45px;
width: 250px;
}

#submit {
width: 100px;
height: 60px;
}
/* Stylesheet for the specifc events page */

#specifc-event-name{
font-family: "PT Sans";
font-size: 50pt;
color:black ;
justify-content: center;
}

#event-info{
  font-family: "PT Sans";
font-size: 25pt;
color: #57585b
}


/*h1{
  font-family: "PT Sans";
  font-size: 40pt;
  color: #333333;
  }
  
  h2{
    font-family: "PT Sans";
  font-size: 25pt;
  color:#57585b;
  text-align: center; 
  }

  

h3{
  font-family: "PT Sans";
font-size: 20pt;
color:#57585b;
}  

p {

  color:#57585b;
  font-family: "PT Sans"; 
  font-size: 15pt; 
  
  }*/

.content{
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 120px (2fr, auto) (2fr, auto) 2fr;
  grid-gap: 30px;
  margin-right: 20px, 

}

.Event-name{
 
  grid-column: 2 / 3;
  grid-row: 2/3;
  text-align: center;
  padding: 10px;
  align-items: center;
  padding-top: 50px;
  
}

.return-button{
  grid-column: 2;
  grid-row: 2;
  padding: 10px;
  margin-top: 10em;
  margin-left: 11em;
}

.Event{
  grid-column: 1 / 3;
  grid-row: 3/4;
  padding: 10px;
  background-color: #99D5C9;
  margin-left: 30px;
  border-radius: 25px;
}
.contact{
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  background-color: #99D5C9;
  border-radius: 25px;
  margin-right: 30px;
  padding-top: 5px;
  
  inset-inline-start: 40px;
  
  align-items: center, baseline;
}

.contact > p {

padding-left: 30px;

}


#contact-info{
  text-align: center; 
  
  
}


#RSVP{
  grid-column-start: 2;
  justify-self: center;
  height: 45px;
  width: 100px;
}

.four{
  grid-column: 1 / 4;
  grid-row: 4/ 5;
  text-align: center;
}


#event-information{

  display:grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  padding-right: 20px;
  
}

.image{

  grid-template-columns: 1/2;
  grid-template-rows: 1/2;
  height: 3em;
  width: 5em;
  padding-left: 20px;
  justify-items: center;
  
}

.info-text{

  grid-template-columns: 2/3;
  grid-template-rows: 1/2;
  font-family: "PT Sans";
  font-size: 20pt;

}

/* google map (specific events) Set size of the div element that contains the map */ 

#map {
height: 200px;  /* The height is 400 pixels */
width: 100%px;  /* The width is the width of the web page   */
padding: 20px;
border-radius: 25px;
margin-left: 30px;
margin-right: 30px;
} 
